@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
:root {
  --font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #e6e6e6;
  font-family: var(--font-family);
}

.header_content img {
  width: 15%;
}

#chart {
  max-width: 650px;
  margin: 35px auto;
}

#chart2 {
  max-width: 650px;
  margin: 35px auto;
}

#chart_circle_left {
  padding: 0;
}

.apexcharts-datalabel-label tspan:nth-child(2) {
  fill: #888;
}

#chart_circle_right {
  padding: 0;
}

.apexcharts-datalabel-label tspan:nth-child(2) {
  fill: #888;
}

.value_cards1 {
  border-radius: 20px;
}

.value_cards1 img {
  width: 20%;
}

.dispatched-orders {
  grid-area: dispatched-orders;
}

.stat-title {
  margin: 10px;
}

.dispatched-orders table th {
  border-bottom: none;
}

.dispatched-orders table td {
  border-top: none;
  border-bottom: none;
}

.dispatched-orders table tbody tr {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.dispatched-orders table tbody tr:hover {
  transform: scale(1, 1) translateY(-5px);
  -webkit-transform: scale(1, 1) translateY(-5px);
  -moz-transform: scale(1, 1) translateY(-5px);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
}

.operator-avatar {
  height: 35px;
  width: 35px;
  cursor: pointer;
  border: 2px solid #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.operator-avatar:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.operator-avatar:nth-child(n + 2) {
  margin-left: -15px;
}

.progress-thin {
  height: 3px;
}

.progress-bar-green {
  background: #4fb27c;
  background: -webkit-gradient(left top, right top, color-stop(0%, #4fb27c), color-stop(100%, rgba(79, 178, 124, 0)));
  background: -webkit-gradient(linear, left top, right top, from(#4fb27c), to(rgba(79, 178, 124, 0)));
  background: linear-gradient(to right, #4fb27c 0%, rgba(79, 178, 124, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fb27c', endColorstr='#4fb27c', GradientType=1 );
}

.progress-bar-orange {
  background: #e9a153;
  background: -webkit-gradient(left top, right top, color-stop(0%, #e9a153), color-stop(100%, rgba(233, 161, 83, 0)));
  background: -webkit-gradient(linear, left top, right top, from(#e9a153), to(rgba(233, 161, 83, 0)));
  background: linear-gradient(to right, #e9a153 0%, rgba(233, 161, 83, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9a153', endColorstr='#e9a153', GradientType=1 );
}

.progress-bar-red {
  background: #de525e;
  background: -webkit-gradient(left top, right top, color-stop(0%, #de525e), color-stop(100%, rgba(222, 82, 94, 0)));
  background: -webkit-gradient(linear, left top, right top, from(#de525e), to(rgba(222, 82, 94, 0)));
  background: linear-gradient(to right, #de525e 0%, rgba(222, 82, 94, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de525e', endColorstr='#de525e', GradientType=1 );
}

.example-header {
  background: #3d4351;
  color: #fff;
  font-weight: 300;
  padding: 3em 1em;
  text-align: center;
}

.example-header h1 {
  color: #fff;
  font-weight: 300;
  margin-bottom: 20px;
}

.example-header p {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
}

.container-fluid .row {
  padding: 0 0 4em 0;
}

.container-fluid .row:nth-child(even) {
  background: #f1f4f5;
}

.example-title {
  text-align: center;
  margin-bottom: 60px;
  padding: 3em 0;
  border-bottom: 1px solid #e4eaec;
}

.example-title p {
  margin: 0 auto;
  font-size: 16px;
  max-width: 400px;
}

/*==================================
    TIMELINE
==================================*/
/*-- GENERAL STYLES
    ------------------------------*/
.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.timeline h1,
.timeline h2,
.timeline h3,
.timeline h4,
.timeline h5,
.timeline h6 {
  line-height: inherit;
}

/*----- TIMELINE ITEM -----*/
.timeline-item {
  padding-left: 40px;
  position: relative;
}

.timeline-item:last-child {
  padding-bottom: 0;
}

/*----- TIMELINE INFO -----*/
.timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 0.5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}

/*----- TIMELINE MARKER -----*/
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}

.timeline-marker:before {
  background: #ff6b6b;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  -webkit-transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.timeline-marker:after {
  content: "";
  width: 3px;
  background: #ccd5db;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}

.timeline-item:last-child .timeline-marker:after {
  content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #ff6b6b;
}

/*----- TIMELINE CONTENT -----*/
.timeline-content {
  padding-bottom: 20px;
}

.timeline-content p:last-child {
  margin-bottom: 0;
}

/*----- TIMELINE PERIOD -----*/
.period {
  padding: 0;
}

.period .timeline-info {
  display: none;
}

.period .timeline-marker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid #ccd5db;
  border-bottom: 3px solid #ccd5db;
}

.period .timeline-marker:after {
  content: "";
  height: 32px;
  top: auto;
}

.period .timeline-content {
  padding: 40px 0 70px;
}

.period .timeline-title {
  margin: 0;
}

/*----------------------------------------------
        MOD: TIMELINE SPLIT
    ----------------------------------------------*/
@media (min-width: 768px) {
  .timeline-split .timeline, .timeline-centered .timeline {
    display: table;
  }
  .timeline-split .timeline-item, .timeline-centered .timeline-item {
    display: table-row;
    padding: 0;
  }
  .timeline-split .timeline-info, .timeline-centered .timeline-info,
  .timeline-split .timeline-marker,
  .timeline-centered .timeline-marker,
  .timeline-split .timeline-content,
  .timeline-centered .timeline-content,
  .timeline-split .period .timeline-info,
  .timeline-centered .period .timeline-info {
    display: table-cell;
    vertical-align: top;
  }
  
  .timeline-split .timeline-marker,
  .timeline-centered .timeline-marker {
    position: relative;
  }
  
  .timeline-split .timeline-content,
  .timeline-centered .timeline-content {
    padding-left: 30px;
  }
  .timeline-split .timeline-info, .timeline-centered .timeline-info {
    padding-right: 30px;
  }
  .timeline-split .period .timeline-title, .timeline-centered .period .timeline-title {
    position: relative;
    left: -45px;
  }
}

/*----------------------------------------------
        MOD: TIMELINE CENTERED
    ----------------------------------------------*/
@media (min-width: 992px) {
  .timeline-centered,
  .timeline-centered .timeline-item,
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-marker,
  .timeline-centered .timeline-content {
    display: block;
    margin: 0;
    padding: 0;
  }
  .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden;
  }
  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-content {
    width: 50%;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item.period .timeline-content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .timeline-centered .timeline-item.period {
    padding: 50px 0 90px;
  }
  .timeline-centered .period .timeline-marker:after {
    height: 30px;
    bottom: 0;
    top: auto;
  }
  .timeline-centered .period .timeline-title {
    left: auto;
  }
}

/*----------------------------------------------
        MOD: MARKER OUTLINE
    ----------------------------------------------*/
.marker-outline .timeline-marker:before {
  background: transparent;
  border-color: #ff6b6b;
}

.marker-outline .timeline-item:hover .timeline-marker:before {
  background: #ff6b6b;
}
/*# sourceMappingURL=style.css.map */